<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <title>FSE Chatroom</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>

<div class="container-fluid" id="join-div">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Welcome to FSE Chatroom!
            </h3>
            <div id="join-form" class="form-horizontal" action="" role="form">
                <div class="form-group">
                    <label for="inputUsername3" class="col-xs-2 control-label">
                        Username
                    </label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="inputUsername3">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label">
                        Password
                    </label>
                    <div class="col-xs-10">
                        <input type="password" class="form-control" id="inputPassword3">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10">
                        <button id="join-btn" class="btn btn-primary">
                            Join
                        </button>
                        <button id="register-btn" class="btn btn-default">
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chat-div" class="container-fluid fill-height" style="display: none">
    <div class="row navbar-fixed-top">
        <h4 class="col-xs-11" style="text-align: center">FSE Chatroom - Logged in as: <span id="my-username"> test </span> </h4>
        <button id="leave-btn" class="col-xs-1 btn btn-danger">
            X
        </button>
    </div>
    <div class="row navbar-fixed-bottom" >
        <form action="" id="chat-form" class="input-group">
            <input id="m" class="form-control input-lg" placeholder="Type your message here..." autocomplete="off" />
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="button">Send</button>
            </span>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <div class="well nav nav-pills nav-stacked" data-spy="affix" data-offset-top="50">
                <h5>Online</h5>
                <!--<ul >-->
                <ul id="onlineUsers" class="list-group">
                    <li class="list-group-item">fzy</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-10">
            <ul id="messages">
            </ul>
        </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>